
@{
    ViewData["Title"] = "Esqueceu a Senha";
}
<section class="my-3">
    <div class="containerSenha">
        <div class="TxtNovaSenha">
            <p>Digite aqui sua nova senha</p>
        </div>
                    <div class="areaSenha">
                        <form method ="post">
                            <div class="form-group">
                                <label for="password">Senha nova</label>
                                <input type="password" id="password" placeholder="Digite aqui sua senha nova">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirme a senha</label>
                                <input type="password" id="password" placeholder="Digite aqui sua senha nova novamente">
                            </div>
                            <div class="button-group">
                                <button type="submit" asp-controller="Home" asp-action="Index" class="btn ConfirmarSenha-btn">Confirmar nova senha</button>
                            </div>
                        </form>
                    </div>
                    <div class="imgBolas">
                        <img src="~/imgs/bolas.png" alt="Bolas fundo">
                    </div>
    </div>
</section>