@{
    ViewData["Title"] = "Login";
}

<div class="container inicial position-relative">
    <div class="row">
            <div class="col-lg-4">
                <div class="p-3 lg-2">
                <div class="TxtBemVindo">
                    <p style="font-size: 35px;">Seja Bem-Vindo(a) de volta, </p>
                </div>
                <div class="facalogin">
                    <p style="font-size: 35px;">Faça seu Login!</p>
                </div>

                </div>
            </div>
            
               
                <div class="imgMaeFilho">
                    <img src="~/imgs/img_mae_filho.png" alt="Menino Feliz" style="height: 950px;">
                </div>
    </div>
</div>


<!--
<div class="container inicial position-relative">
    <div class="row">
        <div class="BemVindo">
            <div class="col-4">
                <div class="TxtBemVindo">
                    <p style="font-size: 32px;">Seja Bem-Vindo(a) de volta <span class="facalogin">Faça seu Login!</span></p>
                </div>
            </div>

                <div class="imgMaeFilho">
                    <img src="~/imgs/img_mae_filho.png" alt="Menino Feliz" style="height: 950px;">

            </div>
        </div>
    </div>

-->

