@{
    ViewData["Title"] = "Login";
}
<section Class="my-3">
    <div class="containerLogin inicial position-relative">
        <div class="row">
            <div class="col-lg-4">
                <div class="p-3 lg-2">
                    <div class="TxtBemVindo">
                        <p style="font-size: 30px;">Seja Bem-Vindo(a) de volta, </p>
                    </div>
                    <div class="facalogin">
                        <p style="font-size: 30px;">faça seu Login!</p>
                    </div>
                    <div class="hr">
                        <hr />
                    </div>

                    <!-- FORM LOGIN-->
                    <div class="areaLogin">
                        <form>
                            <div class="form-group">
                                <label for="username">Usuário</label>
                                <input type="text" id="username" placeholder="Digite aqui seu nome de usuário">
                            </div>
                            <div class="form-group">
                                 <label for="password">Senha</label>
                                 <input type="password" id="password" placeholder="Digite aqui sua senha">
                            </div>
                            <div class="form-group">
                                 <a href="#" class="forgot-password">Esqueci a senha</a>
                            </div>
                            <div class="button-group">
                                    <button type="submit" asp-controller="Home" asp-action="MenuGerenciar" class="btn Entrar-btn">Entrar</button>
                                    <button type="button" class="btn Criar-btn">Criar conta</button>
                            </div>
                        </form>

                    </div>
                        
                </div>
            </div>

            <div class="imgMaeFilho">
                <img src="~/imgs/img_mae_filho.png" alt="Menino Feliz" style="height: 705px;">
           </div>
    </div>
</div>
</section>

