@{
    ViewData["Title"] = "Login";
}
<div class="container inicial position-relative">
    <div class="row">
        <div class="BemVindo">
            <div class="col-4">
                <div class="TxtBemVindo">
                    <p style="font-size: 25px;">Seja Bem-Vindo(a) de volta <span class="facalogin">Faça seu Login!</span></p>
                </div>
            </div>
           
                <div class="imgMaeFilho">
                    <img src="~/imgs/img_mae_filho.png" alt="Menino Feliz" style="height: 600px;">
                
            </div>
        </div>
    </div>
