@font-face {
    font-family: 'Edutico';
    src: url('/fonts/Edutico-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/glacial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Bold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    background-color: #FFFEF3;
}



/*Tela inicial*/
.navbar {
    height: 78px;
    z-index: 10;
    background-color: #FFFEF3;
}



.search-bar {
    width: 330px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid black;
    
}

.layout-label {
        border: none;
        height: 25px;
        width: 290px;
        padding-inline: 10px;
        outline: none; /*tira contorno quando clica*/
        background:none;
    }
.navbar .icons {
    gap: 20px; /* Espaçamento entre os ícones */
}


.btn-with-image {
    background-color: #FFFEF3;
    border: none;
    border-radius: 10px;
}

.btn-nav{
    height:22px;
    width:auto;
}

.blur {
    position: absolute;
    top: -160px;
    left: 0;
}

.blur2 {
    height: 1000px;
    position: absolute;
    top: -160px;
    left: 43rem;
}

.btn-explorar {
    padding-inline: 40px;
    background-color: #385BD2;
    font-family: 'Glacial Bold';
    color: white;
}
.container .inicial {
    align-items: center;
    justify-content: center;
}

.container .DivQEn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto_inicial {
    text-align: left;
    font-size: 20px;
    font-family: 'Glacial';
    line-height: 25px;
    margin-top: 20px;
}

.container .DivQEn .divercao {
    font-family: 'Edutico';
    color: black;
    width: 400px;
}

.container .DivQEn .ensina {
    font-size: 120px;
    color: red;
    line-height: 100px;
}

.ponto {
    font-size: 120px;
    font-family: Cooper;
    font-weight: bold;
    color: red;
    line-height: 60px;
    position: relative;
    top: 10px;
}


.heart-icon {
    width: 25px;
}

.cart-icon {
    width: 35px;
}

.cat_img {
    width: 200px;
    height: auto;
}

.glacial-bold {
    font-family: 'Glacial Bold';
}

.small-text {
    font-size: 12px;
}

.cat_prod {
    font-family: 'Edutico';
    color: black;
    padding-inline: 20px;
}



/*TELA LOGIN*/
.containerLogin {
    height: 583px; /*delimita a altura (para a img ficar centralizada*/
    margin-left: 10px;
}
.container .TxtBemVindo {
    font-family: 'Glacial Bold';
    margin-top: 70px;
    width: 500px;
}

.container .facalogin {
    font-family: 'Glacial Bold';
    margin-top: -21px;
    width: 500px;
}
.container .hr {
    width: 210px;
    height: 2px;
    background: linear-gradient(to right, yellow, red);
    margin-top: -18px;
}

/*FORM LOGIN*/
.areaLogin {
    width: 400px;
    margin-top: 35px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-family: 'Glacial';
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
    input[type="text"]:focus,
    input[type="password"]:focus {
        border: 1px solid #E37B1B; /* Cor da borda ao focar */
        outline: none; /* Remove o contorno padrão */
    }

.forgot-password {
    display: block;
    text-align: right;
    font-size: 17px;
    color: #0066cc;
}

/*BOTÕES*/
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.Entrar-btn {
    background: linear-gradient(to right, #E37B1B, #E31B21);
    color: white;
    width: 150px;
    height: 44px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
    .Entrar-btn:hover {
        color: white;
        border: 2px solid #e74c3c;
        opacity: 1;
    }

.Criar-btn {
    background: white;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    width: 150px;
    height: 44px;
    padding: 8px;  
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}
    .Criar-btn:hover {
        background: #e74c3c;
        color: white;
        
    }
    
.imgMaeFilho {
    height: 300px;
    width: 3px;
    margin-top: -90px;
    margin-left: 38px;
}

/*Footer*/
.meurodape {
    background-color: #1F3C9D;
}

.icone {
    width: 20px;
    height: 20px;
}

#img_pag {
    width: auto;
    height: 60px;
    margin-inline: 10px;
}

.titulo_footer {
    font-family: 'Glacial Bold';
}

.texto_footer {
    font-family: 'Glacial';
}

.product-card {
    width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

    .product-card .card-img-top {
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .product-card .btn-outline-danger {
        background-color: white;
        border: 1px solid #f8d7da;
    }

    .product-card .btn-outline-primary {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border: 1px solid #007bff;
    }

/*TELA ESQUECI A SENHA*/
.containerSenha {
    align-items: center;
    height: 583px; /*delimita a altura (para a img ficar centralizada*/
    margin-left: 10px;
}

.container .TxtNovaSenha {
    font-family: 'Glacial Bold';
    text-align: center;
    margin-top: 70px;
    width: 1050px;
}

/*FORM SENHA*/
.areaSenha {

    width: 400px;
    margin-top: 35px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-family: 'Glacial';
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border: 1px solid #E37B1B; /* Cor da borda ao focar */
        outline: none; /* Remove o contorno padrão */
    }

.forgot-password {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #0066cc;
}


.imgBolas {
    position: absolute; /* Posiciona a imagem relativamente ao container pai */
    bottom: 0; /* Ajusta a imagem na parte inferior */
    right: 0; /* Ajusta a imagem na parte direita */
    height: 100%; /* Ajusta a altura para ocupar todo o container */
    width: auto; /* Mantém a proporção da imagem */
    z-index: -1; /* Coloca a imagem atrás do conteúdo principal */
}


/*FUNCIONÁRIO*/


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
