@{
    @* PARA ADICIONAR O LAYOUT 2 (FUNC)  *@
    Layout = "_LayoutFunc"; // Isso ativa o layout do funcionário e não o padrão
    ViewData["Title"] = "Produtos Funcionário";
}

<section class="ProdutosF">
    <div class="container">
        <div class="header">
            <h1>PRODUTOS</h1>
            <div class="sort">
                <span>Ordenar por</span>
                <select>
                    <option value="esgotados">Esgotados</option>
                    <option value="esgotados">Esgotados</option>
                    <option value="esgotados">Esgotados</option>
                </select>
            </div>
            <a href="#" class="register-button">Cadastrar produto</a>
        </div>
    </div>




    <div class="row">
        <!-- Alteramos a largura da coluna para aumentar o tamanho do card em telas de diferentes tamanhos.
        Agora, o card ocupa mais espaço em telas grandes, médias e pequenas:
        - col-xl-3: ocupa 3 colunas em telas extra grandes (12 colunas no total).
        - col-lg-4: ocupa 4 colunas em telas grandes.
        - col-md-6: ocupa 6 colunas em telas médias.
        - col-sm-12: ocupa 12 colunas (toda a largura) em telas pequenas. -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card product-card my-2">
            <div class="card-body py-2">
               
                    <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
                <p class="text mb-3 small-text">
                        <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
                </p>
                <p class="text-primary h5 glacial-bold">R$ 10,00</p>

                <!-- BOTÕES -->
                    <div class="button-container d-flex mt-3">
                        <button class="btn desativar-btn">Desativar</button>
                        <button class="btn editar-btn">Editar</button>
                    </div>
            </div>
        </div>
    </div>



<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
    <div class="card product-card my-2">
        <div class="card-body py-2">

            <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
            <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
            <p class="text mb-3 small-text">
                <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
            </p>
            <p class="text-primary h5 glacial-bold">R$ 10,00</p>

            <!-- BOTÕES -->
            <div class="button-container d-flex mt-3">
                <button class="btn desativar-btn">Desativar</button>
                <button class="btn editar-btn">Editar</button>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
    <div class="card product-card my-2">
        <div class="card-body py-2">

            <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
            <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
            <p class="text mb-3 small-text">
                <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
            </p>
            <p class="text-primary h5 glacial-bold">R$ 10,00</p>

            <!-- BOTÕES -->
            <div class="button-container d-flex mt-3">
                <button class="btn desativar-btn">Desativar</button>
                <button class="btn editar-btn">Editar</button>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
    <div class="card product-card my-2">
        <div class="card-body py-2">

            <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
            <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
            <p class="text mb-3 small-text">
                <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
            </p>
            <p class="text-primary h5 glacial-bold">R$ 10,00</p>

            <!-- BOTÕES -->
            <div class="button-container d-flex mt-3">
                <button class="btn desativar-btn">Desativar</button>
                <button class="btn editar-btn">Editar</button>
            </div>
        </div>
    </div>
</div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card product-card my-2">
                <div class="card-body py-2">

                    <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                    <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
                    <p class="text mb-3 small-text">
                        <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
                    </p>
                    <p class="text-primary h5 glacial-bold">R$ 10,00</p>

                    <!-- BOTÕES -->
                    <div class="button-container d-flex mt-3">
                        <button class="btn desativar-btn">Desativar</button>
                        <button class="btn editar-btn">Editar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card product-card my-2">
                <div class="card-body py-2">

                    <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                    <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
                    <p class="text mb-3 small-text">
                        <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
                    </p>
                    <p class="text-primary h5 glacial-bold">R$ 10,00</p>

                    <!-- BOTÕES -->
                    <div class="button-container d-flex mt-3">
                        <button class="btn desativar-btn">Desativar</button>
                        <button class="btn editar-btn">Editar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card product-card my-2">
                <div class="card-body py-2">

                    <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                    <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
                    <p class="text mb-3 small-text">
                        <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
                    </p>
                    <p class="text-primary h5 glacial-bold">R$ 10,00</p>

                    <!-- BOTÕES -->
                    <div class="button-container d-flex mt-3">
                        <button class="btn desativar-btn">Desativar</button>
                        <button class="btn editar-btn">Editar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card product-card my-2">
                <div class="card-body py-2">

                    <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                    <h6 class="card-title mt-3  mx-0 glacial-bold">Monta-Monta, 6 pçs...</h6>
                    <p class="text mb-3 small-text">
                        <img src="~/imgs/Star.png" class="icone mb-1" style="width: 15px; height: 15px;"> 5.0 (10 avaliações)
                    </p>
                    <p class="text-primary h5 glacial-bold">R$ 10,00</p>

                    <!-- BOTÕES -->
                    <div class="button-container d-flex mt-3">
                        <button class="btn desativar-btn">Desativar</button>
                        <button class="btn editar-btn">Editar</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</section>



