/* Fontes */
@font-face {
    font-family: 'Edutico';
    src: url('/fonts/Edutico-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/glacial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Bold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Geral */
body {
    background-color: #F4F4F4;
}

/* Layout Principal */
.Tudo {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebarF {
    width: 250px;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 1px #ccc;
}

.logoFunc img {
    margin-left: -25px;
}

.sidebarF .BotoesSidebar {
    font-family: Glacial Bold;
    color: #385BD2;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    margin-left: 32px;
    margin-top: 10px;
}

    .sidebarF .BotoesSidebar img {
        height: 20px;
        width: 20px;
    }

    .sidebarF .BotoesSidebar p {
        font-size: 15px;
    }

/* Conteúdo */
.Conteudo {
    width: 100%;
    height: auto;
    margin-left: 20px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 1px #ccc;
}

.search-bar {
    background-color: #F4F4F4;
    margin-left: 40px;
    margin-top: 15px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
}

.Conteudo .layout-label {
    background-color: transparent;
    margin-left: 2px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
    border: 2px #F4F4F4;
    outline: none;
}

/* Produtos */
.ProdutosF {
    margin-top: -500px;
    margin-left: 170px;
    width: 90%;
    height: 90vh;
    overflow: hidden; /* Previne o conteúdo de ultrapassar as bordas */
}

.container {
    width: 90%;
    margin-top: -20px;
    margin-left: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header h1 {
        font-size: 40px;
        color: #000;
        font-family: Edutico;
    }

    .header .sort {
        display: flex;
        align-items: center;
        
    }

        .header .sort span {
            font-size: 14px;
            font-family: 'Glacial Indifference';
            color: #000;
            margin-right: 5px;
           
        }

        .header .sort select {
            font-size: 14px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .header .register-button {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #385BD2;
        border: 2px solid #385BD2;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none;
    }


.product-card {
    margin-left: 35px;
    background-color: #f9f9f9; /* Cor de fundo do card */
    border-radius: 20px; /* Bordas arredondadas do card */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra nas bordas */
    border: 1px solid #ddd; /* Adiciona uma borda sutil ao redor do card */
}

    .product-card .card-body {
        padding: 10px; /* Reduz o espaçamento interno do card */
    }

    .product-card img.card-img-top {
        border-radius: 30px; /* Arredonda as bordas da imagem */
        margin-left: 8px;
        margin-top: 5px; /* Espaçamento superior */
        width: 180px;
        height: 180px;
    }

    .product-card h6.card-title {
        margin-top: 5px; /* Espaçamento superior do título */
        margin-bottom: 5px; /* Espaçamento inferior do título */
        font-family: "Glacial Bold"
    }

    .product-card .small-text {
        margin-bottom: 5px; /* Espaçamento inferior do texto pequeno */
        font-size: 12px;
        font-family: "Glacial";
        opacity: 0.5;

    }

    .product-card p.text-primary {
        margin-top: -15px; /* Espaçamento superior do preço */
        margin-bottom: 5px; /* Espaçamento inferior do preço */
        font-family: "Glacial Bold";
        color: #385BD2;
    }

    .product-card .button-container {
        margin-top: 5px; /* Espaçamento superior dos botões */
    }



/* Botões */
.btn {
    padding: 2px; /* Espaçamento interno dos botões */
    border-radius: 10px;
    border: none;
    font-family: 'Glacial';
    width: 80px;
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}


.desativar-btn {
    background-color: rgba(227, 27, 33, 0.3); /* Cor vermelha com 30% de opacidade */
    color: black;
    margin-left: 10px; /* Espaçamento à esquerda do botão desativar */
}

.editar-btn {
    background-color: rgba(151, 227, 27, 0.25); /* Cor verde com 25% de opacidade */
    color: black;
    margin-left: 20px; /* Espaçamento à esquerda do botão editar */
}

    .desativar-btn:hover, .editar-btn:hover {
        opacity: 0.8; /* Adiciona um efeito de opacidade ao passar o mouse */
    }
